.madkudu_modal.open
  .madkudu_modal__overlay
  .madkudu_modal__canvas

    .madkudu_modal__box_parent

      .madkudu_modal__box
        .madkudu_modal__title #{title}
        .madkudu_modal__subtitle #{subtitle}
        .div
          button.madkudu_modal__button--primary.madkudu_modal__accept #{cta_yes}
          button.madkudu_modal__button--secondary.madkudu_modal__cancel #{cta_no}

      .madkudu_modal__branding Powered by <a href="http://www.madkudu.com?utm_campaign=smart_form" target="_blank">MadKudu</a>
